.code
{
    color: aliceblue;
    padding-left:63ex;
    padding-top:2ex
}
.homepage {
      padding:2ex;
    }
.nush {
    padding-left:75ex;
    }
.homepage1
{
    padding:5ex;
}
.head1{
     color:brown;
     padding-left:75ex;
    padding-top:2ex;
    text-size-adjust: 10px;
    text-decoration-color: blueviolet;

}
.im
{
  padding-top:7ex;
}
.im2
{
  padding-left:25ex;
}
